[buildout]
extends =
    plone4.2.cfg

package-name = collective.citationstyles
package-extras = [test]

extensions =
    mr.developer

sources = sources
auto-checkout = *
always-checkout = True

parts += omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[sources]
Products.CMFBibliographyAT = git git@github.com:jazkarta/Products.CMFBibliographyAT.git
